<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- DB connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/inventory</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Miffy@6166</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Auto table -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL -->
        <property name="show_sql">true</property>

        <!-- 🔥 THIS IS CRITICAL -->
        <mapping class="org.example.Product"/>

    </session-factory>
</hibernate-configuration>